.current {
  color: #006f94;
}

 /* The navbar container */
.topnav {
  left:0px;
  right:0px;
  overflow: hidden;
  background-color: #1b263b;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}

.header {
  margin-left:20px;
  background: #1b263b;
  float: left;
  h1 {
    color: #ffffff;
    font-weight:bold;
    letter-spacing:2px;
    font-size:25px; 
  }
}

/* Navbar links */
.topnav a {
  text-align:center;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #778da9;
  color: black;
}

nav {
  align-items: center;
  display: flex;
}

body {
  background-color: #ffffff;
  font-family: 'Helvetica', 'sans-serif';
  font-size: 14px;
  position:absolute;
  left:50px;
  right:50px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.home_grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 1fr;
}

.home_wrapper_left {
  left: 10%;
  display: grid;
  grid-template-rows: auto auto;
}

.home_wrapper_right {
  right: 10%;
  background-color: #eff0f9;
  padding: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 10px;
  border-radius: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.home_wrapper_top {
  display: grid;
  grid-template-columns: 60% 1fr;
}

.home_wrapper_lower {
  display: grid;
  grid-template-columns: 40% 1fr;
}

.div-hcard {
  vertical-align: center;
  background-color: #eff0f9;
  padding: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 10px;
  border-radius: 15px;
  img {
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 15px;
  }
  h1 {
    text-decoration: underline;
    text-decoration-thickness: 8px;
    text-decoration-color: #778da9;
  }
  h2 {
    text-decoration: underline;
    text-decoration-thickness: 6px;
    text-decoration-color: #778da9;   
  }
}

.div-portfolio{
  background-color: #eff0f9;
  padding: 20px;
  margin: 5px;
  max-width: 500px;
  border-radius: 15px;
  .h2 {
    color: #415a77;
    text-align:left;
    font-weight:bold;
    letter-spacing:1px;
  }
  .h3 {
    color: #0d1b2a;
    text-align:left;
    font-weight:bold;
    font-style:italic;
    letter-spacing:1px;    
  }
}

.div-portfolio:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.proj-photo-wrapper{
  display: flex;
  justify-content: space-between;
}

.proj-photo{
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  width: min-content;
  img {
    height: 200px;
    width: auto;
    margin: auto;
    border-radius: 15px;
  }
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .home_grid {
    display: grid;
    grid-auto-rows: 1fr 1fr;  
  }
}
