.current {
  color: #006f94;
}

body {
  background-color: #eff0f9;
  font-family: 'Helvetica', 'sans-serif';
  font-size: 12px;
  position:absolute;
  left:150px;
  display: block;
  width: 500px;
}
