.current {
  color: #006f94;
}

.header {
  left:0px;
  right:0px;
  padding: 30px;
  text-align: center;
  background: #1b263b;
  h1 {
    color: #ffffff;
    font-weight:bold;
    letter-spacing:2px;
  }
}

 /* The navbar container */
.topnav {
  left:0px;
  right:0px;
  overflow: hidden;
  background-color: #1b263b;
  justify-content: flex-end;
}

/* Navbar links */
.topnav a {
  text-align:center;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #778da9;
  color: black;
} 

body {
  background-color: #eff0f9;
  font-family: 'Helvetica', 'sans-serif';
  font-size: 12px;
  position:absolute;
  left:50px;
  right:50px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.home_grid {
  display: grid;
  grid-template-columns: 25% 1fr;
}

.div-hcard {
  background-color: #ffffff;
  padding: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 20px;
  border-radius: 15px 50px 30px;
  img {
    width: 80%;
    height: auto;
    margin: auto;
  }
}

.div-portfolio{
  background-color: #ffffff;
  padding: 20px;
  margin: 5px;
  max-width: 500px;
  .h2 {
    color: #415a77;
    text-align:left;
    font-weight:bold;
    letter-spacing:1px;
  }
  .h3 {
    color: #0d1b2a;
    text-align:left;
    font-weight:bold;
    font-style:italic;
    letter-spacing:1px;    
  }
}
