.current {
  color: #006f94;
}

.header {
  left:0px;
  right:0px;
  padding: 30px;
  text-align: center;
  background: #1b263b;
  h1 {
    color: #ffffff;
    font-weight:bold;
    letter-spacing:2px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 80% 1fr; 
}

.sidebar {
  position:fixed;
  right:20px;
  top:200px;
  height:30%;
  width:270px;
  background:#1b263b;
  padding: 20px;
  color: white;
}

body {
  background-color: #eff0f9;
  font-family: 'Helvetica', 'sans-serif';
  font-size: 12px;
  position:absolute;
  left:50px;
  right:50px;
  display: block;
}

h1 {
  color: navy;
  margin-left: 20px;
}

h3 {
  color: #415a77;
  font-size: 14px;
}
